@font-face {
  font-family: "HelveticaNeue";
  font-display: swap;
  src: url("../fonts/HelveticaNeue.woff") format("woff") url("../fonts/HelveticaNeue.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Regular.woff") format("woff") url("../fonts/Lora-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lora", serif;
  background-color: #000000;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  color: #ffffff;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  color: #ffffff;
}

p {
  color: #ffffff;
}

.wrapper {
  max-width: 1270px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 65%;
  max-height: 151px;
  min-height: 70px;
  padding-top: 41px;
}

.header .header_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  min-width: 120px;
}

.header .header_logo img {
  max-width: 100%;
}

.header .watch_and_book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .watch_and_book .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 241.33px;
}

.header .watch_and_book .watches_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}

.header .watch_and_book .links a,
.header .watch_and_book .fab {
  display: block;
  width: 32px;
  height: 32px;
}

.header .watch_and_book .fa-facebook-square {
  background: url("../img/facebook.png") center no-repeat;
  background-size: cover;
}

.header .watch_and_book .fa-instagram {
  position: relative;
  bottom: -1px;
  background: url("../img/instagram.png") center no-repeat;
}

.header .watch_and_book .design_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 94.5%;
}

.header .links p {
  font-size: calc(14px + 5 * (100vw - 320px) / 1180);
  line-height: calc(18px + 7 * (100vw - 320px) / 1180);
}

.header .book_now {
  text-transform: uppercase;
  font-size: calc(16px + 3.7 * (100vw - 320px) / 1180);
  line-height: calc(18px + 5.64 * (100vw - 320px) / 1180);
  padding: 3px 15px 2px 15px;
  margin-top: 13px;
  z-index: 20;
  -webkit-transition: all 0.8s ease-in-out 0.2s;
  -o-transition: all 0.8s ease-in-out 0.2s;
  transition: all 0.8s ease-in-out 0.2s;
}

.header .book_now:hover {
  outline: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
}

.icon_menu {
  display: none;
}

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.hero_container_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  height: 100%;
  margin-top: calc(50px + 66 * (100vw - 320px) / 1600);
}

.section_cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: calc(50px + 35 * (100vw - 320px) / 1600);
}

.section_cnt .section_cnt_header {
  font-size: calc(18px + 17 * (100vw - 320px) / 1600);
  line-height: calc(22px + 20 * (100vw - 320px) / 1600);
}

.section_cnt .hero_sct-paragraph {
  font-size: calc(14px + 6 * (100vw - 320px) / 1600);
  line-height: calc(16px + 14 * (100vw - 320px) / 1600);
}

.stripe {
  width: 3px;
  height: auto;
  -webkit-transform: translateX(-300px);
      -ms-transform: translateX(-300px);
          transform: translateX(-300px);
  opacity: 0;
  -webkit-transition: all 1.5s ease-in-out 1.3s;
  -o-transition: all 1.5s ease-in-out 1.3s;
  transition: all 1.5s ease-in-out 1.3s;
}

.stripe.animated,
.animated .stripe {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.victory_watch_stripe {
  background-color: #001521;
}

.hero_text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 86%;
          flex: 0 1 86%;
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  opacity: 0;
  -webkit-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.hero_text.text1 {
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.hero_text.text2 {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.hero_text.text3 {
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}

.hero_text.text1.animated {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.hero_text.text2.animated {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.hero_text.text3.animated {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.hero_text p {
  word-wrap: break-word;
  margin-top: calc(10px + 17 * (100vw - 320px) / 1600);
}

.limited_edition_stripe {
  background-color: #581717;
}

.limited_edition_img {
  height: 118px;
  background-image: url("../img/hand-writing.png");
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.xxi_stripe {
  background-color: #00190c;
}

.hero_img_watch {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  position: relative;
  opacity: 0;
}

.hero_img_watch.animated,
.animated .hero_img_watch {
  -webkit-animation-duration: 8.5s;
          animation-duration: 8.5s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  opacity: 1;
}

.hero_img_watch img {
  position: absolute;
  top: -170px;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  height: 1100px;
  z-index: 10;
  min-width: 100%;
}

.sct-paragraph {
  font-size: calc(14px + 6 * (100vw - 320px) / 1600);
  line-height: calc(16px + 14 * (100vw - 320px) / 1600);
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px);
  opacity: 0;
  -webkit-transition: all 1.2s ease-in-out 0.3s;
  -o-transition: all 1.2s ease-in-out 0.3s;
  transition: all 1.2s ease-in-out 0.3s;
}

.sct-paragraph.animated {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.carpets .carpets_background {
  background-image: url("../img/pattern.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-top: calc(40px + 101 * (100vw - 320px) / 1600);
  padding-bottom: calc(50px + 151 * (100vw - 320px) / 1600);
  opacity: 0;
  -webkit-transition: opacity 3.9s ease-in-out;
  -o-transition: opacity 3.9s ease-in-out;
  transition: opacity 3.9s ease-in-out;
}

.carpets .carpets_background.animated {
  opacity: 1;
}

.carpets .carpets_container {
  width: 70%;
}

.carpets .section_cnt {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0;
}

.carpets .carpets_section_cnt_header {
  font-size: calc(18px + 17 * (100vw - 320px) / 1600);
  line-height: calc(22px + 20 * (100vw - 320px) / 1600);
}

.carpets .carpets_section_cnt_header h2 {
  color: #ffffff;
  margin-left: -2px;
}

.carpets .text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 90%;
          flex: 0 1 90%;
}

.carpets .carpets_sct-paragraph {
  word-wrap: break-word;
  font-size: calc(14px + 6 * (100vw - 320px) / 1600);
  line-height: calc(16px + 14 * (100vw - 320px) / 1600);
  margin-top: calc(10px + 17 * (100vw - 320px) / 1600);
  width: 85%;
}

.karabakh .karabakh_sct_img {
  position: relative;
  left: -50px;
  background-image: url("../img/watch1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 66.6666666667%;
  margin-bottom: calc(30px + 71 * (100vw - 320px) / 1600);
  opacity: 0;
  -webkit-transition: opacity 5.5s ease-in-out;
  -o-transition: opacity 5.5s ease-in-out;
  transition: opacity 5.5s ease-in-out;
}

.karabakh .karabakh_sct_img.animated {
  opacity: 1;
}

.karabakh .img-btt {
  background-image: url("../img/watch2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 66.7117726658%;
  left: -20px;
}

.karabakh .section_cnt {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: calc(50px + 110 * (100vw - 320px) / 1600);
  height: 100%;
  width: 95%;
}

.karabakh .text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 93%;
          flex: 0 1 93%;
}

.karabakh .karabakh_img {
  background-image: url("../img/karabach text.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 12.602739726%;
}

.karabakh p {
  margin-top: 18px;
  width: 70%;
}

.karabakh p + p {
  margin-top: calc(15px + 17 * (100vw - 320px) / 1600);
}

.delivery_concept {
  margin-bottom: calc(45px + 55 * (100vw - 320px) / 1600);
}

.delivery_concept .section_cnt {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0;
  height: 100%;
  width: 95%;
}

.delivery_concept .text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 93%;
          flex: 0 1 93%;
}

.delivery_concept .sct-paragraph {
  width: 65%;
}

.delivery_concept .slide {
  background-image: url("../img/carousel_item.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.swiper-pagination {
  position: relative;
  top: 20%;
  height: calc(12px + 28 * (100vw - 320px) / 1600);
}

.swiper-pagination-bullet {
  background-color: #dfdbdb;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.swiper-button-prev {
  color: #dfdbdb;
}

.swiper-button-next {
  color: #dfdbdb;
}

.video_item {
  width: 100%;
}

.watch_conception .section_cnt {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0;
  margin-top: calc(20px + 153 * (100vw - 320px) / 1600);
  height: 100%;
  width: 95%;
}

.watch_conception .text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 93%;
          flex: 0 1 93%;
}

.watch_conception .sct-paragraph {
  width: 65%;
}

.watch_conception .watch_conception_img {
  background-image: url("../img/wristband.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 0;
  padding-top: 31.8658280922%;
  opacity: 0;
}

.watch_conception .watch_conception_img.animated {
  -webkit-animation-duration: 10.5s;
          animation-duration: 10.5s;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  opacity: 1;
}

.footer_container {
  padding-top: 90px;
  padding-bottom: calc(20px + 70 * (100vw - 320px) / 1600);
  padding-right: 10px;
  padding-left: 65px;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "HelveticaNeue", "Arial", sans-serif;
  font-size: calc(14px + 6 * (100vw - 320px) / 1600);
  line-height: calc(16px + 7 * (100vw - 320px) / 1600);
}

.footer_menu li:not(:first-child) {
  padding-right: calc(10px + 20 * (100vw - 320px) / 1600);
  padding-left: calc(10px + 20 * (100vw - 320px) / 1600);
  padding-top: 0;
  padding-bottom: 0;
}

.footer_menu li:first-child {
  padding-right: calc(10px + 20 * (100vw - 320px) / 1600);
}

.footer_menu li:not(:last-child) {
  border-right: 2px solid #ffffff;
}

.footer_menu a {
  display: inline-block;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.footer_menu a:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.87);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  visibility: hidden;
  z-index: 50;
}

.popup.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 1.2s ease 0.2s;
  -o-transition: all 1.2s ease 0.2s;
  transition: all 1.2s ease 0.2s;
}

.popup__body {
  width: 100vw;
  height: 100vh;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  max-width: 500px;
  min-width: 310px;
  background-color: #e7e3e3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border: 1px solid white;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.close_on_mobile {
  display: none;
}

.popup__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: 70px;
  background-color: #000000;
}

.popup__title img {
  width: 25%;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 50px 46px;
}

.popup__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
}

.input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input_container input {
  padding: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  outline: none;
  border: 1px solid #ffffff;
}

.input_container input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

.input__label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #0d444d;
  margin-bottom: 8px;
}

.popup button {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c5e1e6;
  background-color: #111213;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100px;
  outline: none;
  border: none;
  cursor: pointer;
}

small {
  visibility: hidden;
}

.input_container.success .input {
  border: 1px solid #2ecc71;
}

.input_container.error .input {
  border: 1px solid #e74c3c;
}

.input_container.error small {
  visibility: visible;
  color: #e74c3c;
}

body.popup_open {
  overflow-y: hidden;
  padding-right: 15px;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1350px) {
  .hero_img_watch img {
    height: 1150px;
  }
}

@media screen and (min-width: 1390px) {
  .header .watch_and_book .links {
    width: 271.33px;
  }
}

@media screen and (min-width: 1480px) {
  .hero_img_watch img {
    height: 1200px;
  }
}

@media screen and (min-width: 1520px) {
  .hero_img_watch img {
    top: -160px;
  }
}

@media screen and (min-width: 1600px) {
  .hero_img_watch img {
    height: 1300px;
  }
}

@media screen and (min-width: 1800px) {
  .hero_img_watch img {
    height: 1500px;
  }
}

@media screen and (max-width: 1520px) {
  .hero_img_watch img {
    top: -120px;
  }
}

@media screen and (max-width: 1500px) {
  .header .header_container {
    padding-top: 15px;
  }

  .header .header_logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 20%;
            flex: 0 1 20%;
  }

  .header .watch_and_book {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .limited_edition_img {
    height: 78px;
  }
}

@media screen and (max-width: 992px) {
  .header .watch_and_book {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }

  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 780px) {
  .header .header_container {
    width: 50%;
  }

  .header .watch_and_book .links {
    width: 227.66px;
  }

  .header .watch_and_book {
    position: fixed;
    width: 60%;
    height: 100%;
    overflow: auto;
    top: 80px;
    left: -100%;
    -webkit-transition: left 0.7s ease 0s;
    -o-transition: left 0.7s ease 0s;
    transition: left 0.7s ease 0s;
    padding: 70px 15px 30px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #000000;
    z-index: 15;
  }

  .header .watch_and_book.active {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
  }

  .header .book_now {
    margin-top: 23px;
  }

  .icon_menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
    margin-left: 3%;
  }

  .icon_menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .icon_menu span:first-child {
    top: 0px;
  }

  .icon_menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon_menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon_menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon_menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .hero_img_watch img {
    top: -90px;
  }

  .carpets .carpets_background {
    opacity: 1;
  }

  .footer_container {
    padding-left: 40px;
  }

  .footer_menu a:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .footer_menu {
    font-size: 14px;
  }

  .close_on_mobile {
    display: block;
    position: absolute;
    top: 10px;
    width: 25px;
    height: 18px;
    z-index: 10;
    margin-left: 3%;
    cursor: pointer;
    -webkit-transition: all 0.7s ease-in 3s;
    -o-transition: all 0.7s ease-in 3s;
    transition: all 0.7s ease-in 3s;
  }

  .close_on_mobile span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .close_on_mobile span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .close_on_mobile span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media screen and (max-width: 780px) and (max-width: 553px) {
  .header .watch_and_book.active {
    width: 70%;
  }
}

@media screen and (max-width: 780px) and (max-width: 400px) {
  .header .watch_and_book.active {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .karabakh p {
    width: 95%;
  }

  .delivery_concept .sct-paragraph {
    width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .header .header_container {
    width: 65%;
  }

  .hero_img_watch img {
    width: 80%;
  }

  .watch_conception .section_cnt {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  .footer_container {
    padding-left: 10px;
  }

  .footer_menu {
    font-size: 10px;
  }
}