@use "sass:math";

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff")
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";


$black: #000000;
$white: #ffffff;


@mixin div-same-size-as-background-img($url) {     
background-image: url($url);     
background-size: cover;    
background-repeat: no-repeat;
background-position: center;    
width: 100%;   
//height: 1000px;  
//max-height: 1000px;
//min-height: 100%;
height: 0;
padding-top: math.div(1080, 1920) * 100%; 
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lora', serif;
  background-color: $black;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
  color: $white;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  color: $white;
}
p {
  color: $white;
}

.wrapper {
  max-width: 1270px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 170px;

  & .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 100%;
    padding-top: 41px;
  }

  & .logo {
    max-width: 250px;
  }

  & .watch_and_book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  & .links p {
    font-size: 19px;
    line-height: 25px;
  }

  & .book_now {
    text-transform: uppercase;
    font-size: 19.7px;
    line-height: 23.64px;
    padding: 3px 30px 2px 6px;
    margin-top: 13px;
  }
}

// Hero section

.hero_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hero_container_left {
  flex: 0 1 50%;
  height: 100%;
  margin-top: 15%;
}

.section_cnt {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 170px;

  & .section_cnt_header {
    font-size: 68px;
    line-height: 81px;
  }

  & .hero_sct-paragraph {
    font-size: 26px;
    line-height: 31px;
  }
}

.stripe {
  width: 3px;
  height: auto;
}
.victory_watch_stripe {
  background-color: #001521;
}

.text {
  flex: 0 1 86%;

  & p {
    word-wrap: break-word;
    margin-top: 33px;
  }
}

.limited_edition_stripe {
  background-color: #bb0606;
}

.limited_edition_img {
  height: 118px;
  background-image: url("../img/hand-writing.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.xxi_stripe {
  background-color: #00190c;
}

.hero_img_watch {
  position: relative;
}

.hero_img_watch img {
  position: absolute;
  top: -200px;
  left: 0;
  transform: translateX(-95%);
  object-fit: cover;
  object-position: left;
  z-index: 10;
  display: none;
}

.carpets {
  background: url("../img/pattern.png") bottom center no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 91px;
  padding-bottom: 101px;

  & .carpets_container {
    width: 83%;
  }

  & .section_cnt {
    justify-content: flex-end;
    margin-bottom: 0;
  }

  & .text {
    flex: 0 1 90%;

    & .sct-paragraph {
      margin-top: 38px;
      width: 85%;
    }
  }

  & h2 {
    margin-left: -2px;
  }
}

.sct-paragraph {
  font-size: 30px;
  line-height: 36px;
}

.karabakh {
  & .karabakh_sct_img {
    width: 90%;
    height: 896px;
    background-image: url("../img/watch1.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 101px;
  }

  & .img-btt {
    background-image: url("../img/watch2.png");
  }

  & .section_cnt {
    justify-content: flex-end;
    margin-bottom: 160px;
    height: 100%;
    width: 95%;
  }

  & .text {
    flex: 0 1 93%;
  }

  & .karabakh_img {
    height: 138px;
    background-image: url("../img/karabach\ text.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
  }

  & p {
    margin-top: 18px;
    width: 70%;
  }

  & p + p {
    margin-top: 32px;
  }
}

.delivery_concept {
   margin-bottom: 100px;

  & .section_cnt {
    justify-content: flex-end;
    margin-bottom: 0;
    height: 100%;
    width: 95%;
  }

  & .text {
    flex: 0 1 93%;
  }

  & .sct-paragraph {
    width: 65%;
  }

  & .slide {
   @include div-same-size-as-background-img('../img/carousel_item.png');
  }
}

.swiper-pagination {
    height: 40px;  
}

.swiper-pagination-bullet {
    background-color: rgb(223, 219, 219);  
}

.swiper-pagination-bullet-active{
    background-color: $white;
}

.video_ {
background-image: url('../img/video_sample.jpg');     
background-size: cover;    
background-repeat: no-repeat;
background-position: center;    
width: 100%;   
//height: 1000px;  
//max-height: 1000px;
//min-height: 100%;
height: 0;
padding-top: math.div(1280, 1920) * 100%; 
}

.watch_conception {

  & .section_cnt {
    justify-content: flex-end;
    margin-bottom: 0;
    margin-top: 14%;
    height: 100%;
    width: 95%;
  }

  & .text {
    flex: 0 1 93%;
  }

  & .sct-paragraph {
    width: 75%;
  }

  & .watch_conception_img {
background-image: url('../img/wristband1.png');     
background-size: cover;    
background-repeat: no-repeat;
background-position: center;    
width: 100%;   
//height: 1000px;  
//max-height: 1000px;
//min-height: 100%;
height: 0;
padding-top: math.div(608, 1908) * 100%; 
  }
}

.footer {

  &_container {
    padding: 90px 10px 90px 70px;
  }

  &_menu {
    display: flex;
    //font-family: "Helvetica", "Arial", sans-serif;
    font-family: "Helvetica";
    font-size: 20px;
    line-height: 23px;
    
    & li:not(:first-child) {
     padding: 0 30px;
    }

    & li:first-child {
      padding-right: 30px;
     }

     & li:not(:last-child) {
      border-right: 2px solid #ffffff;
     }

     & a {
       color: $white;
     }

  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.87);
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  visibility: hidden;
}

.popup.open {
  visibility: visible;
  opacity: 1;
}

.popup__body {
  width: 100vw;
  height: 100vh;
}

.popup__content {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 50%;
  max-width: 500px;
  min-width: 310px;
  background-color: #e7e3e3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border: 1px solid white;
}

.popup__title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: 70px;
  background-color: $black;  
}

.popup__title img {
  width: 25%;
}

.popup__form {
  display: flex;
  flex-direction: column;
  padding: 32px 50px 46px;
  //flex: 0 0 300px;
  //height: 500px;
}

.popup__form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 260px;
  
}


.input_container {
  display: flex;
  flex-direction: column;
}

.input_container input {
padding: 10px;
background-color: #ffffff;
box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
border-radius: 10px;
outline: none;
border: 1px solid #ffffff;
}

.input_container input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}


.input__label {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
color: #0D444D;
margin-bottom: 8px;
}

.popup button {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #C5E1E6;
background-color: #111213;
margin-top: 10px;
margin-bottom: 10px; 
padding-top: 15px;
padding-bottom: 15px;
border-radius: 100px;
outline: none;
border: none;
cursor: pointer;
}

small {
  visibility: hidden;
}

.input_container.success .input {
  border: 1px solid #2ecc71;
}

.input_container.error .input{
  border: 1px solid #e74c3c;
}

.input_container.error small {
  visibility: visible;
  color: #e74c3c;
}

body.popup_open {
  overflow-y: hidden;
  padding-right: 15px;
}








